<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.1" />
      <httpRuntime targetFramework="4.5.1" />
    </system.web>

<connectionStrings><add name="dairyFarmEntities" connectionString="metadata=res://*/dairyFarm.csdl|res://*/dairyFarm.ssdl|res://*/dairyFarm.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TROLLIER;initial catalog=dairyFarm;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>
